# Ignore node_modules folder
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variable files
.env

# Ignore operating system-specific files
.DS_Store
Thumbs.db

# Ignore build files
dist/
build/

# Ignore coverage reports
coverage/
